# Defines global workspaces to be included in the project search paths
workspaces=(
  ~/.config/nvim
  ~/dotfiles
  ~/work
)

# Assign specific session names for those paths
add-session-name 'dotfiles' \
  ~/.config/nvim \
  ~/dotfiles

add-session-name 'work-projects' \
  ~/work/*

# vim:ft=zsh
